<div class="container-fluid container-sm bg-light pt-5 border my-4">
  <h1 class="text-center pt-3 mb-5 font-weight-bold">{{player2.username}}, choose your hand</h1>
  <div class="d-flex justify-content-center">
    <div class="btn-group mb-1 pb-3 pt-5 w-75">
      <button type="button" class="btn btn-secondary mr-1" routerLink="/result" (click)="onChooseHand('rock')">ROCK
      </button>
      <button type="button" class="btn btn-dark mr-1" routerLink="/result" (click)="onChooseHand('paper')">PAPER
      </button>
      <button type="button" class="btn btn-secondary" routerLink="/result" (click)="onChooseHand('scissors')">SCISSORS
      </button>
    </div>
  </div>
</div>
