<div class="container-fluid container-sm bg-light pt-5 my-4 border">
  <h1 class="text-center font-weight-bold">GAME ENDED</h1>
  <h3 class="pt-5 pl-5 font-weight-bold">FINAL RESULTS:</h3>
  <ul class="list-group list-group-horizontal pb-1 mx-5">
    <li class="list-group-item d-flex flex-fill bg-dark text-white">PLAYER 1 NAME</li>
    <li class="list-group-item bg-dark text-white">WINS: X</li>
    <li class="list-group-item bg-dark text-white">LOSES: X</li>
    <li class="list-group-item bg-dark text-white">DRAWS: X</li>
  </ul>
  <ul class="list-group list-group-horizontal pb-3 mx-5">
    <li class="list-group-item d-flex flex-fill bg-dark text-white">PLAYER 2 NAME</li>
    <li class="list-group-item bg-dark text-white">WINS: X</li>
    <li class="list-group-item bg-dark text-white">LOSES: X</li>
    <li class="list-group-item bg-dark text-white">DRAWS: X</li>
  </ul>
  <div class="d-flex justify-content-center pt-5 pb-3">
    <div class="btn-group w-75">
      <button type="button" class="btn btn-secondary mr-3">START NEW GAME</button>
      <button type="button" class="btn btn-dark">QUIT GAME</button>
    </div>
  </div>
</div>
