<div class="container-fluid container-sm bg-light pt-5 my-4 border">
  <h1 class="text-center" style="font-weight: bolder">ROCK-PAPER-SCISSORS</h1>
  <div class="container-fluid pt-5 align-items-center mx-auto mb-2">
    <div class="form-group">
      <input
        type="text"
        placeholder="ENTER YOUR NAME"
        [(ngModel)]="player1username"
        class="form-control form-control-lg text-center text-body">
    </div>
  </div>
  <div class="container mt-3">
    <div class="d-flex mb-3 justify-content-center">
      <button
        type="submit"
        class="btn btn-lg btn-dark w-50"
        routerLink="/game/1/player/1/hand" (click)="onAddPlayer1()">CREATE NEW GAME
      </button>
    </div>
  </div>
</div>
