<div class="container-fluid container-sm bg-light pt-5 my-4 bg-light border">
  <h1 class="text-center font-weight-bold">JOIN GAME</h1>
  <div class="container-fluid pt-5 align-items-center mx-auto mb-2">
    <input
      type="text"
      class="form-control form-control-lg text-center text-body"
      [(ngModel)]="player2Name"
      placeholder="ENTER YOUR NAME">
  </div>
  <div class="container mt-3">
    <div class="d-flex mb-3 justify-content-center">
      <button type="button" class="btn btn-lg btn-dark w-50 mb-2">JOIN GAME</button>
    </div>
  </div>
</div>
